@tailwind base;
@tailwind components;
@tailwind utilities;


/* ==================================CkEditor5 Style================================= */

/* Tinggi default editor */
.ck-editor__editable[role="textbox"] {
    min-height: 300px;
}

/* === Dark Mode Styling === */

/* Area content */
.dark .ck-editor__editable {
    background-color: rgb(55 65 81) !important;
    color: #ffffff !important;
}

/* ========== Placeholder text ========== */

/* Light Mode */
.ck-editor__editable .ck-placeholder::before {
    color: rgb(17 24 39) !important;
    /* gray-400 */
    font-size: 14px;
}

/* Dark Mode */
.dark .ck-editor__editable .ck-placeholder::before {
    color: rgb(229 231 235) !important;
    /* gray-400 */
    font-size: 14;
}

/* Toolbar */
.dark .ck.ck-toolbar {
    background-color: #374151 !important;
    /* gray-700 */
    border-color: #4b5563 !important;
    /* gray-600 */
}
.dark .ck.ck-button {
    background-color: #1f2937;
    /* bg gray-800 */
    color: #ffffff;
    /* text gray-50 */
    border-color: #ffffff;
    /* border gray-700 */
}

.dark .ck.ck-toolbar .ck-button {
    color: #808a94 !important;
}

.dark .ck.ck-toolbar .ck-button:hover {
    background-color: #4b5563 !important;
}

/* Panel pop-up (misal link, image, table) */
.dark .ck.ck-balloon-panel {
    background-color: #1f2937 !important;
    border-color: #7f848b !important;
    color: #c5cbcf !important;
}

/* Dropdown button caret biar putih */
.dark .ck.ck-icon {
    fill: #7a8692 !important;
    color: #7a8692 !important;
}


